@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf);
}

/*Para adicionar uma Variavel basta usar a Tag :root em seguida o nome da variavel e e sua ação exemplo: :root{--01:#E1E5EC; }*/
:root {
    --01: #E1E5EC;
    --02: #92c742;
    --03: #63EB54;
    --04: #60BF81;
    --05: #236e4a;
    --06: #043822;
    --fonte-padrao: 'Arial, Verdana', 'Sans-serif';
    --fonte-destaque: 'Bebas Neue', 'sans-serif';
    --fonte-android: 'idroid';
}

* {
    margin: 0px;
    padding: 0px;

}


body {
    font-family: var(--fonte-padrao);
    background-color: var(--02);
}

header {
    background-image: linear-gradient(to bottom, var(--06), var(--05));
    min-height: 150px;
    text-align: center;
    padding-top: 25px;
}

header>h1 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    margin-top: 5px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 5px black;
    font-weight: normal;
    font-size: 2.5em;

}

header>p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.0em;
    color: white;
    max-width: 500px;
    margin: auto;
    padding-right: 7px;
    padding-left: 7px;
    text-shadow: 1px 1px 1px black;
}

nav {
    background-color: var(--05);
    text-decoration: none;
    box-shadow: 0px 7px 7px rgba(66, 107, 53, 0.425);
    padding: 10px;

}

nav>a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-decoration: none;
    padding: 8px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

nav a:hover {
    background-color: var(--06);
    color: var(--03);
    box-shadow: 0px 0px 5px var(--03);
    border-radius: 3px;
    transition-duration: 0.5s;
    text-shadow: 0px 0px 5px var(--05);
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 900px;
    margin: auto;
    padding: 35px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.801);
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
}

main>article>h1 {
    background-image: linear-gradient(to right, rgb(99, 214, 99), rgb(129, 218, 129), transparent);
    font-family: var(--fonte-android);
    color: var(--05);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.849);
    font-weight: normal;
}

main>article>h2 {
    background-image: linear-gradient(to right, rgb(99, 214, 99), rgb(129, 218, 129), transparent);
    font-family: var(--fonte-android);
    color: var(--05);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.849);
    font-weight: normal;
}

main p {
    margin: 20px 0px;
    text-align: justify;
    text-indent: 9px;
    line-height: 1.5em;
    font-size: 1em;
    font-family: sans-serif;
}

main strong {
    color: var(--05);
    padding: 3px;
    text-decoration: none;
    text-shadow: 0px 0px 1px black;
}

main #destaque:hover {
    text-decoration: underline;
    color: #3efa48cc;
    background-color: #317249;
}

div.video {
    background-color:#075534;
    margin: 30px;
    padding: 20px;
    position: relative;
    padding-bottom: 40%;
   
}

div.video>iframe {position: absolute;
top:5% ;
left:5% ;
width:90%;
height: 90%;}

.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

img {
    width: 100%;
}

#destaque {
    color: var(--06);
    background-color: var(--03);
    padding: 3px;
    text-decoration: none;
    border-radius: 2px;
    font-size: 1.1em;

}

aside {
    padding: 10px;
    border-radius: 8px;
    background-color: var(--04);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.63);
}

aside ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0';
}

aside>h3 {
    background-color: var(--06);
    padding: 6px;
    margin: -10px -10px 0px -10px;
    border-radius: 4px 4px 0px 0px;
    margin-bottom: 22px;
    color: white;
    
}



footer {
    background-color: var(--06);
    color: white;
    padding: 9px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: var(--02);
}

#destaque::after {
    content: '\1F517';
}